body {
	margin: 0;
}

h1 {
	margin-top: 0;
	text-align: center;
	background-color: #1729e8;
	font-size: 4em;
	padding-bottom: 10px;
}

h2 {
	font-size: 2em;
	text-align: center;
}

table {
	border: 1px solid black;
	width: 100%;
	margin-top: 2vh;
}

td  {
	border: 1px solid black;
	text-align: center;
	width: 25%;
}

th {
	border: 1px solid black;
	text-align: center;
	width: 25%;
	font-size: 20px;
}

.form {
	font-size: 1.5em;
}

.radio_button, .label_text {
	font-size: 1.5em;
}

.topnav {
  overflow: hidden;
  background-color: #1729e8;
  font-size: 1.5em;
}

.topnav a {
	text-align: center;
	color: black;
	padding: 10px 12px;
	text-decoration: none;
}

.topnav a:hover, .topnav b:hover {
  background-color: #2d63ed;
}

.topnav a.active {
  background-color: #e9f018;
}

.fLeft {
	float: left;
}

.fRight {
	float: right;
}
