{% extends "layout.html" %}

{% block title %}FFH - Account{% endblock %}

{% block navbar %}
	<div class="topnav">
		<a class="fLeft" href="/home">Home</a>
		<a class="fLeft active" href="/account">Account</a>
		<a class="fLeft" href="/leagues">Leagues</a>

		{% if session["username"] %}
			<a class="fRight" href="/logout">Logout</a>
		{% else %}
			<a class="fRight" href="/create_account">Create Account</a>
			<a class="fRight" href="/login">Login</a>
		{% endif %}
	</div>
{% endblock %}

{% block body %}
	{% if session["username"] %}
		<!-- There is a user logged in. -->
		<h2>Welcome, {{ session["username"] }}</h2>
		<table class="fCenter">
			<tr>
				<th class="League">League</th>
				<th class="Team">Team</th>
				<th class="Record">W-L</th>
			</tr>
			{% for team in teams %}
				<tr class="rBorder">
					<td class="League"><a href="/leagues/{{ team.league }}">{{ team.league }}</a></td>
					<td class="Team rBorder"><a href="/team/{{ team.league }}/{{ team.team }}">{{ team.team }}</a></td>
					<td class="Record"><a href="/team/{{ team.team }}/{{ team.team }}">{{ team.record }}</a></td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<!-- There is no user logged in. -->
		<h2 href="/login" class="fCenter">Must be logged in to view page.</h2>
	{% endif %}
{% endblock %}