{% extends "layout.html" %}

{% block title %}FFH - Account{% endblock %}

{% block navbar %}
	<div class="topnav">
		<a class="fLeft" href="/home">Home</a>
		<a class="fLeft active" href="/account">Account</a>
		<a class="fLeft" href="/league">League</a>

		{% if session["username"] %}
			<a class="fRight" href="/logout">Logout</a>
		{% else %}
			<a class="fRight" href="/create_account">Create Account</a>
			<a class="fRight" href="/login">Login</a>
		{% endif %}
	</div>
{% endblock %}

{% block body %}
	{% if session["username"] %}
		<!-- There is a user logged in. -->
		<h2>Welcome, {{ session["username"] }}</h2>
		<h4>{% block h4 %} Please type an option below to select or change your active league{% endblock %}</h4>
		<!-- TODO modify below form and league selection process to coorespond to links in tables, if possible-->
		<form action="" method="post">
		  <label for="leagueID">Active League Name:</label>
		  <input type="text" id="leagueID" name="leagueID" value="{{request.form.leagueID }}"><br><br>
		  <input type="submit" value="Submit">
		</form>
		<table class="fCenter">
			<tr>
				<th class="League">League</th>
				<th class="Team">Team</th>
				<th class="Record">W-L</th>
			</tr>
			{% for team in teams %}
				<tr class="rBorder">
					<td class="League"><a href="/league/{{ team.league }}">{{ team.league }}</a></td>
					<td class="Team rBorder"><a href="/team/{{ team.league }}/{{ team.team }}">{{ team.team }}</a></td>
					<td class="Record"><a href="/league/{{ team.league }}">{{ team.record }}</a></td>
				</tr>
			{% endfor %}
		</table>
		<h3><a href="/new_league">Click here to import a league from ESPN.</a></h3>
	{% else %}
		<!-- There is no user logged in. -->
		<h2 href="/login" class="fCenter">Must be logged in to view page.</h2>
	{% endif %}
{% endblock %}