{% extends "layout.html" %}

{% block title %}Create Account{% endblock %}

{% block navbar %}
	<div class="topnav">
		<a class="fLeft" href="/home">Home</a>
		<a class="fLeft" href="/account">Account</a>
		<a class="fLeft" href="/league">League</a>

		{% if session["username"] %}
			<a class="fRight" href="/logout">Logout</a>
		{% else %}
			<a class="fRight active" href="/create_account">Create Account</a>
			<a class="fRight" href="/login">Login</a>
		{% endif %}
	</div>
{% endblock %}

{% block body %}
	<h4>{% block h4 %}Fill out your account information below to register an account with Funky Fantasy Hosting! {% endblock %}</h4>
	<br>

	<form action="" method="post">
	  <label for="fname">First name:</label>
	  <input type="text" id="fname" name="fname" value="{{request.form.fname }}"><br><br>
	  <label for="lname">Last name:</label>
	  <input type="text" id="lname" name="lname" value="{{request.form.lnane }}"><br><br>
	  <label for="username">Username:</label>
	  <input type="text" id="username" name="username" value="{{request.form.username }}"><br><br>
	  <label for="screen name">Screen name:</label>
	  <input type="text" id="screen name" name="screen name" value="{{request.form.screenName }}"><br><br>
	  <label for="email">Email address:</label>
	  <input type="text" id="email" name="email" value="{{request.form.email }}"><br><br>
	  <label for="password">Password:</label>
	  <input type="text" id="password" name="password" value="{{request.form.password }}"><br><br>
	  <input type="submit" value="Submit">
	</form>
	
{% endblock %}