{% extends "layout.html" %}

{% block title %}Funky Fantasy Hosting{% endblock %}

{% block navbar %}
	<div class="topnav">
		<a class="fLeft active" href="/home">Home</a>
		<a class="fLeft" href="/account">Account</a>
		<a class="fLeft" href="/leagues">Leagues</a>

		{% if username %}
			<a class="fRight" href="/logout">Logout</a>
		{% else %}
			<a class="fRight" href="/create_account">Create Account</a>
			<a class="fRight" href="/login">Login</a>
		{% endif %}
	</div>
{% endblock %}

{% block body %}
	<p>Home</p>
{% endblock %}