<!DOCTYPE html>
<!-- Layout styled off of flaskr and fl08_adv_templates examples -->
<html>
<head>
	<title>{% block title %}CPS43 Catering{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}" />
</head>
<body>
	{% block navbar %}
		<div class="topnav">
			<a class="fLeft active" href="/home">Home</a>
			<a class="fLeft" href="/account">Account</a>
			<a class="fLeft" href="/leagues">Leagues</a>

			<a class="fRight" href="/logout">Logout</a>
		</div>
	{% endblock %}
	<h1>Funky Fantasy Hosting</h1>
	{% block body %}
	{% endblock %}
</body>
</html>