{% extends "layout.html" %}

{% block title %}FFH - Leagues{% endblock %}

{% block navbar %}
	<div class="topnav">
		<a class="fLeft" href="/home">Home</a>
		<a class="fLeft" href="/account">Account</a>
		<a class="fLeft active" href="/leagues">Leagues</a>

		{% if username %}
			<a class="fRight" href="/logout">Logout</a>
		{% else %}
			<a class="fRight" href="/create_account">Create Account</a>
			<a class="fRight" href="/login">Login</a>
		{% endif %}
	</div>
{% endblock %}

{% block body %}
	{% if username %}
		<div class="container">
			<div>
				<table class="fCenter" id="standings">
					<tr>
						<th>Team Name</th>
						<th>Record</th>
					</tr>
					{% for team in teams %}
						<tr class="rBorder">
							<td><a href="/team/{{ leagueName }}/{{ team.name}}">{{ team.name }}</a></td>
							<td>{{ team.wins }} - {{ team.loses }}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
			<div>
				<h2 id="match_header">Week {{ week }} Matchups</h2>
				<table id="matchups" class="fCenter">
					{% for match in matchups %}
						<tr class="rBorder">
							<td class="match_name">{{ match.away }}</td>
							<td class="match_points">{{ match.away_points }} - {{ match.home_points }}</td>
							<td class="match_name">{{ match.home }}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	{% else %}
		<h2 class="fCenter">Must be logged in to view page.</h2>
	{% endif %}
{% endblock %}
