{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block navbar %}
	<div class="topnav">
		<a class="fLeft" href="/home">Home</a>
		<a class="fLeft" href="/account">Account</a>
		<a class="fLeft" href="/league">League</a>

		{% if session["username"] %}
			<a class="fRight" href="/logout">Logout</a>
		{% else %}
			<a class="fRight" href="/create_account">Create Account</a>
			<a class="fRight active" href="/login">Login</a>
		{% endif %}
	</div>
{% endblock %}

{% block body %}
	<h4>{% block h4 %}Enter your login credentials below to access your Funky Fantasy Hosting account {% endblock %}</h4>
	<br>
	
	<form action="" method="post">
	  <label for="username/email">Username or Email Adress:</label>
	  <input type="text" id="username/email" name="username" value="{{request.form.username }}"><br><br>
	  <label for="password">Password:</label>
	  <input type="text" id="password" name="password" value="{{request.form.password }}"><br><br>
	  <input type="submit" value="Submit">
	</form>
{% endblock %}