{% extends "layout.html" %}

{% block title %}Funky Fantasy Hosting - Team{% endblock %}

{% block navbar %}
	<div class="topnav">
		<a class="fLeft" href="/home">Home</a>
		<a class="fLeft" href="/account">Account</a>
		<a class="fLeft active" href="/leagues">Leagues</a>

		{% if username %}
			<a class="fRight" href="/logout">Logout</a>
		{% else %}
			<a class="fRight" href="/login">Login</a>
			<a class="fRight" href="/create_account">Create Account</a>
		{% endif %}
	</div>
{% endblock %}

{% block body %}
	<table class="fCenter">
		<tr>
			<th>Position</th>
			<th>Player Name</th>
			<th>Points</th>
		</tr>
		{% for player in team %}
			<tr>
				<td>{{ player.position }}</td>
				<td><a href={{ player.link }} target="_blank" rel="noopener noreferrer">{{ player.name }}</a></td>
				<td>{{ player.points }}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}